---
layout: splash
excerpt: \"Non ci sono individui nel mondo, solo frammenti di famiglie.\" <br /> Carl Whitaker
header:
  overlay_image: /assets/images/header.jpg
  #overlay_filter: rgba(100, 0, 100, 0.7)
  cta_label: "Chi Siamo"
  cta_url: "/#chi-siamo"

feature_row:
  - image_path: /assets/images/unsplash-gallery-image-1-th.jpg
    alt: "placeholder image 1"
    title: "Disturbi del comportamento alimentare"
    excerpt: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut tellus sed dolor fringilla aliquam. Vestibulum eu suscipit augue. Nullam id lorem vitae ex vulputate imperdiet quis ut augue."
    url: "/attivita-disturbi-alimentari"
    btn_label: "Continua"
    btn_class: "btn--info"
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Famiglie monogenitoriali e omoparentali"
    excerpt: "Aliquam et feugiat neque, tempor dapibus dolor. Donec placerat sit amet tellus et dapibus. Suspendisse molestie sem sit amet tellus malesuada interdum."
    url: "#test-link"
    btn_label: "Continua"
    btn_class: "btn--info"
  - image_path: /assets/images/unsplash-gallery-image-3-th.jpg
    title: "Disturbo borderline di personalità"
    excerpt: "Etiam et elit lectus. Ut placerat dolor ut dignissim gravida. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut vitae felis tellus."
    url: "#test-link"
    btn_label: "Continua"
    btn_class: "btn--info"
  - image_path: /assets/images/unsplash-gallery-image-4-th.jpg
    title: "Terapia di coppia"
    excerpt: "Etiam et elit lectus. Ut placerat dolor ut dignissim gravida. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut vitae felis tellus."
    url: "#test-link"
    btn_label: "Continua"
    btn_class: "btn--info"
  - image_path: /assets/images/unsplash-gallery-image-5-th.jpg
    title: "Adozione"
    excerpt: "Etiam et elit lectus. Ut placerat dolor ut dignissim gravida. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut vitae felis tellus."
    url: "#test-link"
    btn_label: "Continua"
    btn_class: "btn--info"
---

<h2 id="chi-siamo">Chi Siamo</h2>

<div style="padding-bottom: 15px" class="feature__wrapper wow fadeInUp">
  <div class="feature__item">
    {% include author-profile-embedded.html author="elena-ierace" %}
  </div>
  <div class="feature__item">
  </div>
  <div class="feature__item">
    {% include author-profile-embedded.html author="giulia-papini" %}
  </div>
</div>
<div style="clear: both"></div>
<h2 id="cosa-facciamo">Cosa Facciamo</h2>

<div class="feature__wrapper text-left wow fadeInUp">
  <div class="feature__item">
    <div class="media featuresContent">
              <span class="media-left bg-color-1">
                <i class="fa fa-check bg-color-1" aria-hidden="true"></i>
              </span>
      <div class="media-body">
        <h3 class="media-heading color-1">Valutazione Psicodiagnostica</h3>
      </div>
      <div style="clear:both"></div>
      <ul>
        <li>Consulenze individuali, di coppia e familiari</li>
      </ul>
    </div>
  </div>
  <div class="feature__item">
    <div class="media featuresContent">
              <span class="media-left bg-color-1">
                <i class="fa fa-check bg-color-1" aria-hidden="true"></i>
              </span>
      <div class="media-body">
        <h3 class="media-heading color-1">Psicoterapia</h3>
      </div>
      <div style="clear:both"></div>
      <ul>
        <li>Di coppia, familiare, individuale, di gruppo</li>
      </ul>
    </div>
  </div>
  <div class="feature__item">
    <div class="media featuresContent">
              <span class="media-left bg-color-1">
                <i class="fa fa-check bg-color-1" aria-hidden="true"></i>
              </span>
      <div class="media-body">
        <h3 class="media-heading color-1">Mediazione familiare</h3>
      </div>
      <div style="clear:both"></div>
    </div>
  </div>

</div>

<div style="clear: both"></div>

<div class="chiama-ora">
  <p>
    Chiamaci adesso per avere più informazioni:
  </p>
  <p>
    <a href="tel:{{site.data.authors.giulia-papini.phone}}" class="btn btn--info"><span class="fa fa-phone"></span> {{site.data.authors.giulia-papini.phone}} <br/>Giulia Papini</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="tel:{{site.data.authors.elena-ierace.phone}}" class="btn btn--info"><span class="fa fa-phone"></span> {{site.data.authors.elena-ierace.phone}} <br/>Elena Ierace</a>
  </p>
</div>

<h2 id="aree-intervento">Aree di Intervento</h2>

<div class="feature__wrapper text-left aree-intervento wow fadeInUp">

  <div class="feature__item">
    <ul>
      <li><i class="fa fa-dot-circle-o"></i> Anoressia, bulimia e altri disturbi del comportamento alimentari</li>
      <li><i class="fa fa-dot-circle-o"></i> Attacchi di panico e fobie</li>
      <li><i class="fa fa-dot-circle-o"></i> Depressione</li>
    </ul>
  </div>
  <div class="feature__item">
    <ul>
      <li><i class="fa fa-dot-circle-o"></i> Conflitti di coppia</li>
      <li><i class="fa fa-dot-circle-o"></i> Conflitti familiari</li>
    </ul>
  </div>
  <div class="feature__item">
    <ul>
      <li><i class="fa fa-dot-circle-o"></i> Psicopatologia dell'adolescenza e prevenzione del disagio psichico</li>
      <li><i class="fa fa-dot-circle-o"></i> Supporto alla genitorialità e sostegno dell'adolescente</li>
    </ul>
  </div>

</div>


<h2>Ultimi Articoli del Blog</h2>
<div class="feature__wrapper  wow fadeInUp">
  {% assign postSorted = site.posts | sort: "date" | reverse %}
  {% for post in postSorted limit: 3 %}
  <div class="feature__item">
    <div class="archive__item">
      <div class="archive__item-teaser">
        <a href="{{ post.url | absolute_url }}"><img src="{{ post.image }}" alt="{{ post.title }}"></a>
      </div>
    </div>
    <div class="archive__item-body">
      <h3 class="archive__item-title"><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h3>
      <div class="archive__item-excerpt">
        <p>{{ post.excerpt }}</p>

        <p><a href="{{ post.url | absolute_url }}">Leggi tutto...</a></p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<div>
  <p style="text-align: center">
    <a href="/blog" class="btn btn--info"><span class="fa fa-podcast"></span> Visita il Blog</a>
  </p>
</div>


<h2 id="contatti">Contatti</h2>
<p>
  Puoi contattarci ai seguenti numeri per avere maggiori informazioni:
</p>
<p style="text-align: center">
  <a href="tel:{{site.data.authors.giulia-papini.phone}}" class="btn btn--info"><span class="fa fa-phone"></span> {{site.data.authors.giulia-papini.phone}} <br/>Giulia Papini</a>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="tel:{{site.data.authors.elena-ierace.phone}}" class="btn btn--info"><span class="fa fa-phone"></span> {{site.data.authors.elena-ierace.phone}} <br/>Elena Ierace</a>
</p>
<p>
  Il nostro studio si trova nei pressi di <strong>{{ site.address }}.</strong>
</p>
<div>
  <div class="map_overlay" onClick="style.pointerEvents='none'"></div>
  <iframe
    width="100%"
    height="450"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC__Jz-9gGGerxck7mCeCmTJmhY92Ki2gU&q={{site.address_maps}}" allowfullscreen>
  </iframe>
</div>

<h2 id="link">Link</h2>
<ul style="list-style: none; margin-left: 0; padding-left: 0">
  <li><a class="btn btn--info" href="https://www.facebook.com/psichiatria.psicoterapia.3" target="_blank"><i class="fa fa-facebook"></i> Pagina Facebook</a></li>
</ul>
